:root {

    /* FONTS */
    --regular: 'Arial'
    
    /* COLORS */
    --dark-brown: ##402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;
    
    --darker-red: #b31714;
    --lighter-red: #dc3439;
    
    --white: #FFF;
    --black: #000;

    /* BACKGROUND */
    --bg-color-light:#FFA;
    --bg-color-dark: #00F;
    --bg-margin-small: 10px;
    --bg-margin-large: 50px;
    --bg-padding-small: 10px;
    --bg-padding-large: 50px;

    }
    
    h1 {
        font-family: var(--regular);
        color: var(--darker-red);
    }

    h2 {
        font-family: var(--regular);
        background-color: var(--bg-color-light);
        color: var(--lightest-brown);
        padding: var(--bg-padding-small);
        margin: var(--bg-margin-small);
    }

html, body {
    margin: 0;
    padding: 0;
}

.red-square {
    width: 80px;
    height: 80px;
    color: #fff;
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

a {
    font-size: 22px;
    color: #F0F;
} 

.cascading-parent h2 {
    color: #FD0;
    
}

.cascading-parent a {
    font-size: 22px;
    color: #ad0707cb;
}


.site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.site-color {
    background-color: indigo;
    color: #FFF;
}

.site-square {
    width: 200px;
    height: 200px;
    padding: 20px;
}

/* unvisited link */
a:link {
    color:blue;
  }
  
  /* visited link */
  a:visited {
    color:rgb(130, 130, 199);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color:red;
  }

  
.button-container a {
    width: 200px;
    padding: 10px;
    margin: 20px;
    color: #FFF;
    background-color: #F00;
    border-radius: 10px;
    -webkit-box-shadow: 13px 15px 13px 7px rgba(0,0,0,0.56);
    -moz-box-shadow: 13px 15px 13px 7px rgba(0,0,0,0.56);
    box-shadow: 13px 15px 13px 7px rgba(0,0,0,0.56);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.button-container a:hover {
    background-color: rgb(214, 116, 116);
    color: #000000;
    text-decoration: none;
}


.button-container2 a {
    width: 200px;
    padding: 10px;
    margin: 20px;
    color: var(--darker-red);
    background-color: var(--bg-color-dark);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 13px 7px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 13px 7px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 13px 7px rgba(0,0,0,0.56);
    text-decoration: none;
    transition: all 0.5s ease;
}

.button-container2 a:hover {
    background-color: var(--bg-color-light);
    color: var(--lighter-red);
    text-decoration: none;
}

.button-container3 a {
    width: 200px;
    padding: 10px;
    margin: 20px;
    color: var(--bg-color-dark);
    background: linear-gradient(90deg, rgba(89,154,232,1) 35%, rgba(255,0,206,1) 100%);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 13px 7px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 13px 7px rgba(0,0,0,0.56);
    box-shadow: 10px 10px 13px 7px rgba(0,0,0,0.56);
    text-decoration: none;
    transition: all 0.5s ease;
}

.button-container3 a:hover {
    background: linear-gradient(90deg,rgba(89,154,232,1) 0%, rgba(255,0,206,1) 100%);
    color: var(--lighter-red);
    text-decoration: none;
}