:root {

    /* FONTS */
    --regular: 'Arial'
    
    /* COLORS */
    --dark-brown: ##402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;
    
    --darker-red: #b31714;
    --lighter-red: #dc3439;
    
    --white: #FFF;
    --black: #000;

    /* BACKGROUND */
    --bg-color-light:#FFA;
    --bg-color-dark: #00F;
    --bg-margin-small: 10px;
    --bg-margin-large: 50px;
    --bg-padding-small: 10px;
    --bg-padding-large: 50px;

    }
    
    h1 {
        font-family: var(--regular);
        color: var(--darker-red);
    }

    h2 {
        font-family: var(--regular);
        background-color: var(--bg-color-light);
        color: var(--lightest-brown);
        padding: var(--bg-padding-small);
        margin: var(--bg-margin-small);
    }

html, body {
    margin: 0;
    padding: 0;
}

.red-square {
    width: 80px;
    height: 80px;
    color: #fff;
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

a {
    font-size: 22px;
    color: #F0F;
} 

.cascading-parent h2 {
    color: #FD0;
    
}

.cascading-parent a {
    font-size: 22px;
    color: #ad0707cb;
}


.site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.site-color {
    background-color: indigo;
    color: #FFF;
}

.site-square {
    width: 200px;
    height: 200px;
    padding: 20px;
}

/* unvisited link */
a:link {
    color:blue;
  }
  
  /* visited link */
  a:visited {
    color:rgb(130, 130, 199);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color:red;
  }